---
import Layout from '../layouts/Layout.astro';
import PomodoroIcon from '../components/icons/PomodoroIcon.astro';
import ButtonTimer from '../components/ButtonTimer.astro';
import ButtonControl from '../components/ButtonControl.astro';
---

<Layout>
    <section class="flex flex-col items-center justify-center gap-y-4 text-center my-8 w-[600px] rounded-[10px] bg-white/10 p-4 shadow-lg z-10">
        <h1 class="flex items-center justify-center gap-x-2 text-lg text-center text-black">
            <span>Mi Pomodoro personal</span>
        </h1>
        
        <!-- Botones Pomodoro, Descanso Corto y Descanso Largo -->
        <div class="flex flex-row items-center gap-x-2 justify-center py-1 px-1 border-2 border-gray-900 rounded-md">
            <ButtonTimer name="Pomodoro" />
            <ButtonTimer name="Descanso Corto" />
            <ButtonTimer name="Descanso Largo" />
        </div>

        <!-- Timer comenzando en 25:00 y terminando en 00:00 -->
         <span class="text-8xl text-center text-black">25:00</span>

        <!-- Botones para iniciar y parar el timer -->
        <div class="flex flex-row items-center justify-center gap-x-6 py-1 px-1">
            <ButtonControl name="Iniciar" />
            <ButtonControl name="Resetear" />
            <ButtonControl name="Parar" />
        </div>

        <!-- Texto con la cantidad de pomodoros completados -->
        <span class="flex items-center justify-center gap-x-2 text-lg text-center text-black">
            <!-- Icono de tomate para el pomodoro con color rojo-->
            <PomodoroIcon />
            <span>Pomodoros Completados: 0</span>
        </span>
    </section>
</Layout>
