---
import Layout from '../layouts/Layout.astro';
import PomodoroIcon from '../components/icons/PomodoroIcon.astro';
import ButtonTimer from '../components/ButtonTimer.astro';
import ContentButtonsControl from '../components/ContentButtonsControl.astro';
---

<Layout>
    <section class="flex flex-col items-center justify-center gap-y-4 text-center my-8 w-[600px] rounded-[10px] bg-white/10 p-4 shadow-lg z-10">
        <h1 class="flex items-center justify-center gap-x-2 text-lg text-center text-black">
            <span>Mi Pomodoro personal</span>
        </h1>
        
        <!-- Botones Pomodoro, Descanso Corto y Descanso Largo -->
        <div class="flex flex-row items-center gap-x-0 justify-center py-1 px-1 border-2 border-gray-900 rounded-md">
            <ButtonTimer id='pomodoro' name="Pomodoro" />
            <ButtonTimer id='descanso-corto' name="Descanso Corto" />
            <ButtonTimer id='descanso-largo' name="Descanso Largo" />
        </div>

        <!-- Timer comenzando en 25:00 y terminando en 00:00 -->
        <span id="timer" class="text-8xl text-center text-black">25:00</span>

        <!-- Botones para iniciar y parar el timer -->
        <ContentButtonsControl id="pomodoro-buttons-control" />
        <ContentButtonsControl id="s-buttons-control" />
        <ContentButtonsControl id="l-buttons-control" />

        <!-- Texto con la cantidad de pomodoros completados -->
        <span class="flex items-center justify-center gap-x-2 text-lg text-center text-black">
            <!-- Icono de tomate para el pomodoro con color rojo-->
            <PomodoroIcon />
            <span id="pomodoros">Pomodoros completados: <span id="pomodoros-count">0</span></span>
        </span>
    </section>
</Layout>

<script>
    // Recogida de los elementos
    const pomodoro = document.getElementById('pomodoro');
    const descansoCorto = document.getElementById('descanso-corto');
    const descansoLargo = document.getElementById('descanso-largo');

    const pomodoroButtonsControl = document.getElementById('pomodoro-buttons-control');
    const sButtonsControl = document.getElementById('s-buttons-control');
    const lButtonsControl = document.getElementById('l-buttons-control');

    const iniciar = document.getElementById('iniciar');
    const resetear = document.getElementById('resetear');
    const parar = document.getElementById('parar');

    const timer = document.getElementById('timer');
    const pomodoros = document.getElementById('pomodoros-count');

    const audio = new Audio('/assets/media/ma-meilleure-ennemie.mp3');

    // Eventos
    if(pomodoro && descansoCorto && descansoLargo){
        pomodoro.classList.add('active');
        descansoCorto.classList.remove('active');
        descansoLargo.classList.remove('active'); 

        startTimerPomodoro();

        pomodoro.addEventListener('click', () => {
            startTimerPomodoro();
        });

        descansoCorto.addEventListener('click', () => {
            startTimerDescansoCorto();
        });

        descansoLargo.addEventListener('click', () => {
            startTimerDescansoLargo();
        });
    }

    function startTimerPomodoro() {
        if(pomodoro && descansoCorto && descansoLargo){
            pomodoro.classList.add('active');
            descansoCorto.classList.remove('active');
            descansoLargo.classList.remove('active');  

            if(timer && pomodoros){
                // Setear el valor del timer
                timer.innerHTML = '25:00'; 

                // Incrementar el valor de pomodoros
                // pomodoros.innerHTML = `${parseInt(pomodoros.innerHTML) + 1}`;
            }

            // Mostrar los botones de control
            if(pomodoroButtonsControl && sButtonsControl && lButtonsControl){
                pomodoroButtonsControl.style.display = 'flex';
                sButtonsControl.style.display = 'none';
                lButtonsControl.style.display = 'none';

                if(iniciar && resetear && parar ){
                    iniciar.addEventListener('click', () => {
                        audio.play();
                        let intervalId = null;
                        let pomodoros = 0;
                    });

                    resetear.addEventListener('click', () => {
                        audio.currentTime = 0;
                        audio.play();    
                    });

                    parar.addEventListener('click', () => {
                        audio.pause();
                    });

                    // Reproducir siempre el audio
                    audio.addEventListener('ended', () => {
                        audio.currentTime = 0
                        audio.play();
                    });
                }
            }
        }
    }

    function startTimerDescansoCorto() {
        if(pomodoro && descansoCorto && descansoLargo){
            descansoCorto.classList.add('active');
            pomodoro.classList.remove('active');
            descansoLargo.classList.remove('active');  
            audio.pause();
            audio.currentTime = 0

            if(timer && pomodoros){
                timer.innerHTML = '05:00';
            }

            if(pomodoroButtonsControl && sButtonsControl && lButtonsControl){
                pomodoroButtonsControl.style.display = 'none';
                sButtonsControl.style.display = 'flex';
                lButtonsControl.style.display = 'none';
            }
        }
    }

    function startTimerDescansoLargo() {
        if(pomodoro && descansoCorto && descansoLargo){
            descansoLargo.classList.add('active');
            pomodoro.classList.remove('active');
            descansoCorto.classList.remove('active'); 
            audio.pause();
            audio.currentTime = 0

            if(timer && pomodoros){
                timer.innerHTML = '15:00';
            }

            if(pomodoroButtonsControl && sButtonsControl && lButtonsControl){
                pomodoroButtonsControl.style.display = 'none';
                sButtonsControl.style.display = 'none';
                lButtonsControl.style.display = 'flex';
            }   
        }
    }

</script>