<div class="video-container">
    <video 
      autoplay 
      loop 
      muted 
      playsinline 
      class="video-background"
    >
      <source src="./assets/media/ma-meilleure-ennemie.mp4" type="video/mp4" />
      Tu navegador no soporta videos HTML5.
    </video>
    <div class="content-overlay">
      <slot />
    </div>
</div>