
---
import ButtonControl from '../components/ButtonControl.astro';

interface Props {
    id: string;
}

const { id } = Astro.props;
---

<div id={id} class="flex flex-row items-center justify-center gap-x-6 py-1 px-1 z-10">
    <ButtonControl id='iniciar' name="Iniciar" />
    <ButtonControl id='resetear' name="Resetear" />
    <ButtonControl id='parar' name="Parar" />
</div>